.alien {
	display: inline-block;
	margin: 0 20px;
	position: relative;
	animation-fill-mode: forwards;
	vertical-align: middle;

	&--unknown {
		color: $main-color;
		font-size: 4rem;
	}

	& input[type=radio] + label {
		border: 2px solid transparent;
	}

	& input[type=radio]:checked + label {
		border: 2px solid #5BF3FA;
		background-color: rgba(91,243,250,0.3);
	}

	//&:hover {
	//	animation: flash 1s ease-in-out forwards;
	//}
}

//@keyframes flash {
//	0% {
//		opacity: .4;
//	}
//	100% {
//		opacity: 1;
//	}
//}