html {
	background-color: black;
}

html::after {
	content: "";
	background-image: url('/images/xcom.jpg');
	opacity: 0.5;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -50;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
}

body {
	background-color: transparent;
}

form {
	display: inline;
}
