.button {
	position: relative;
	color: $main-color;
	border: 2px solid $main-color;
	background-color: transparent;

	&--toolbox {
		display: block;
		background-color: black;
		width: 100%;
		margin: 40px 0;
		padding: 60px 100px;
		font-size: 2rem;
		text-align: left;

		&:hover{
			background-color: rgba(0,0,0, 0.8);
			background-image: linear-gradient(to right,#000,rgba(255,255,255,0.3));
		}

		//&:before {
		//	content: '';
		//	position: absolute;
		//	top: 0;
		//	right: 0;
		//	bottom: 0;
		//	left: 0;
		//	background-image: linear-gradient(to right,#000,#777);
		//	background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/
		//	opacity: 0;
		//	z-index: -1;
		//}
	}

	&--mission {
		&:hover {
			background-color: rgba(white, 0.4);
		}
	}
}