.pool {
	display: none;
	width: 50%;
	padding: 0;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 10px 0;
	position:relative;

	&--show {
		display: block;
	}

	&__list {
		text-align: left;
		padding: 5px 0;
		display: inline-block;
		width: 75%;
	}

	&__life {
		font-size:1rem;
		margin: 3px -1px;
	}

	&__options {
		position: absolute;
		right: 0px;
		top: 0px;
		display: none;
		width: 25%;
		vertical-align: top;
	}

	&__button {
		//float:right;
		font-size: 1rem;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}

	//&:hover &__options {
	//	display: inline-block;
	//}

	.alien:hover &__options {
		display: inline-block;
	}
}
