.xcom {
	background-color: $main-color;
	-webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	position: relative;

	&:before {
		content: '';
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		-webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
		clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
		background: rgba(black, 1);
		display: block;
		position: absolute;
		top: 4px;
		left: 4px;
	}
}